<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ①插值 {{}} 其内只能使用表达式，不能用语句。微信小程序的原生组件也有这个数据绑定方式，来源是mustache模板引擎。
         ②v-bind：绑定动态的值
         ③v-if、v-else：可用来做条件渲染
         ④v-for：可用来列表循环渲染 -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"> 
    {{message}} {{message + message}} 
    <div :id = "message"></div>
    <ul>
      <li v-for="item in list">
        <span v-if="!item.del">{{item.title}}</span>
        <span v-else style="text-decoration: line-through;">{{item.title}}</span>
        <button v-show="!item.del">删除</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
var vm = new Vue({
  el: '#app',
  data: {
    message: 'hello world',
    list: [
    {
      title: '课程1',
      del: false
    },{
      title: '课程2',
      del: true
    }
    ]
  }
})
</script>
</body>
</html>